.holder{
	display: grid;
/*     background-color: rebeccapurple; */
    grid-template-columns: 100px 100px;
/* 	grid-template-rows: 492px 492px; */
	gap: 2px;
}
.items{
	height: 200;
	width: 200;
	background-color: red;
}